<div class="product-list">
    <h1>Product List</h1>
    <div class="filters">
        <input type="text" [(ngModel)]="titleFilter" placeholder="Title">
        <input type="number" [(ngModel)]="minPriceFilter" placeholder="Min Price" min="0">
        <input type="number" [(ngModel)]="maxPriceFilter" placeholder="Max Price" min="0">
        <button class = "apply-filters-button"(click)="applyFilters()">Apply Filters</button>
      </div>
    <button (click)="navigateToCreate()">Create New Product</button>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>  
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.title}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button (click)="navigateToUpdate(product.id!)">Edit</button>
                    <button (click)="navigateToDetail(product.id!)">See details</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="page === 1">Previous</button>
        <span>Page {{page}}</span>
        <button (click)="nextPage()">Next</button>
    </div>
</div>