.product-detail-page-container{
  width:100%;
  background-color: #202124;
  min-height: 100vh; 
}

.back-link {
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
  position:fixed;
}

.back-link a {
  display: inline-block;
}

.back-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.back-arrow:hover {
  opacity: 0.8;
}
.product-detail-container{
  display:flex;
  width: 100%;
  justify-content: center;
}
.product-detail {  
  width: 100%;
  margin-top:50px;
  max-width: 800px;
  padding: 20px;
  background-color: #2f3135;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.product-detail-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.product-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info {
  flex: 1;
  margin-left: 50px;
}


.product-info h1 {
  font-size: 36px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  color: #007bff;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  color: white;
  margin-bottom: 10px;
}

.product-detail p {
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  color: white;
  margin-bottom: 10px;
}

.product-detail p strong {
  font-weight: 600;
}

.product-detail button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}

.product-detail button:hover {
  background-color: #0056b3;
}
  