<div class="login-container">
    <div class="login">
      <div class="page-title">
        Forgot Password
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" autocomplete="off">
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)">
            <small class="error-message" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
            <small class="error-message" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Email is invalid.</small>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Email</button>
        </div>
      </form>
      <div *ngIf="emailSent" class="confirmation-message">
        <p>Email with new password sent.</p>
        <button (click)="navigateToLogin()">Back to Login</button>
      </div>
    </div>
  </div>